
<div class="page-container blue-yonder white-text">

  <br/>
  <br/>
  <br/>

  <div class="page-title">INCIDENT'19 - INTERNSHIP OPPORTUNITIES</div>

  <h5>
        Last date to register for internships : 28<sup>th</sup> February.
</h5>

  <div class="category-list events-listing row active azuki">
    <div class="col s12 m4" *ngFor="let item of categories">
      <a class="events-listing-item" routerLink="/internships/{{ item.hash }}">
        <div class="image" [style.backgroundImage]="'url(assets/images/departments/' + item.img + ')'"></div>
      </a>
    </div>
  </div>

  <br />
  <br />
  <br />

</div>
