<div class="header">
  <a routerLink="/" class="header-logo">
    <img class="logo" src="/assets/images/landing-logo.png" />
    <img class="text" src="/assets/images/header-logo-text.png" />
  </a>  
  <i class="material-icons">menu</i>  
  <ul class="nav-links azuki">
    <li><a routerLink="/" routerLinkActive="active" class="home" [routerLinkActiveOptions]="{ exact: true }">HOME</a></li>
    <li><a routerLink="/incident" routerLinkActive="active" class="incident">INCIDENT</a></li>
    <li><a routerLink="/statistics" routerLinkActive="active" class="statistics">STATISTICS</a></li>
    <li><a routerLink="/events" [class.active]="router.url==='/events'" class="events">EVENTS</a></li>
    <li><a routerLink="/events" fragment="pro_shows" [class.active]="router.url==='/events#pro_shows'" class="events-pro-shows">PRO SHOWS</a></li>
    <li><a routerLink="/icare" routerLinkActive="active" class="icare">i-CARE</a></li>
    <li><a routerLink="/sponsors" routerLinkActive="active" class="sponsors">SPONSORS</a></li>
    <li><a routerLink="/about" routerLinkActive="active" class="about">ABOUT</a></li>
    <li><a routerLink="/contact-us" routerLinkActive="active" class="contact-us">CONTACT US</a></li>
    <li class="has-divider">
      <a routerLink="/internships" routerLinkActive="active" class="internship">INTERNSHIP OPPORTUNITIES</a>
    </li>
    <li class="has-divider register-label monserrat">
      <a href="/register" class="contact-us">Register</a>
    </li>
    <li><a href="/register/">SIGN UP</a></li>
    <li><a href="/register/events/">EVENTS</a></li>
    <li><a href="/register/accommodation/">ACCOMMODATION</a></li>
  </ul>
</div>
