<div class="header">
  <a routerLink="/" class="header-logo">
    <img class="logo" src="/assets/images/landing-logo.png" />
    <img class="text" src="/assets/images/header-logo-text.png" />
  </a>  
  <i class="material-icons">menu</i>  
  <ul class="nav-links azuki">
    <li><a routerLink="/" routerLinkActive="active" class="home" [routerLinkActiveOptions]="{ exact: true }">HOME</a></li>
    <li><a routerLink="/incident" routerLinkActive="active" class="incident">INCIDENT</a></li>
    <li><a routerLink="/statistics" routerLinkActive="active" class="statistics">STATISTICS</a></li>
    <li><a routerLink="/events" routerLinkActive="active" class="events">EVENTS</a></li>
    <li><a routerLink="/icare" routerLinkActive="active" class="icare">i-CARE</a></li>
    <li><a routerLink="/sponsors" routerLinkActive="active" class="sponsors">SPONSORS</a></li>
    <li><a routerLink="/about" routerLinkActive="active" class="about">ABOUT</a></li>
    <li><a routerLink="/contact-us" routerLinkActive="active" class="contact-us">CONTACT US</a></li>
    <li class="register-label"><div>Register</div></li>
    <li><a href="/register/">SIGN UP</a></li>
    <li><a href="/register/events/">EVENTS</a></li>
    <li><a href="/register/accommodation/">ACCOMMODATION</a></li>
  </ul>
</div>

<!-- <div class="header iblue poppins">
  <i class="material-icons iwhite-text">menu</i>
  <a href="/"><img class="header-logo" src="/assets/images/inci_logo.png"/></a>
  <ul class="nav-links">
    <li><a routerLink="/" routerLinkActive="active" class="home iwhite-text" [routerLinkActiveOptions]="{ exact: true }">HOME</a></li>
    <li><a routerLink="events" routerLinkActive="active" class="events iwhite-text">EVENTS</a></li>
    <li><a routerLink="sponsors" routerLinkActive="active" class="sponsors iwhite-text">SPONSORS</a></li>
    <li><a routerLink="icare" routerLinkActive="active" class="icare iwhite-text">i-CARE</a></li>
    <li><a routerLink="about" routerLinkActive="active" class="about iwhite-text">ABOUT</a></li>
    <li><a routerLink="contact-us" routerLinkActive="active" class="contact-us iwhite-text">CONTACT US</a></li>
  </ul>
  <ul class="social right">
    <li><a href="{{ social.fb.link }}" target="_blank"><img src="{{ social.fb.image }}"/></a></li>
    <li><a href="{{ social.tw.link }}" target="_blank"><img src="{{ social.tw.image }}"/></a></li>
    <li><a href="{{ social.yt.link }}" target="_blank"><img src="{{ social.yt.image }}"/></a></li>
    <li><a href="{{ social.ig.link }}" target="_blank"><img src="{{ social.ig.image }}"/></a></li>
  </ul>
</div> -->
