<ul *ngIf="!isMobile()" class="footer-social">
<li><a href="{{ social.fb.link }}" target="_blank"><img src="{{ social.fb.image }}"/></a></li>
<li><a href="{{ social.yt.link }}" target="_blank"><img src="{{ social.yt.image }}"/></a></li>
<li><a href="{{ social.tw.link }}" target="_blank"><img src="{{ social.tw.image }}"/></a></li>
<li><a href="{{ social.ig.link }}" target="_blank"><img src="{{ social.ig.image }}"/></a></li>
</ul>

<ul *ngIf="isMobile()" class="mobile-footer-social">
    <li><a href="{{ social.fb.link }}" target="_blank"><img src="{{ social.fb.image }}" /></a></li>
    <li><a href="{{ social.yt.link }}" target="_blank"><img src="{{ social.yt.image }}" /></a></li>
    <li><a href="{{ social.tw.link }}" target="_blank"><img src="{{ social.tw.image }}" /></a></li>
    <li><a href="{{ social.ig.link }}" target="_blank"><img src="{{ social.ig.image }}" /></a></li>
</ul>
