<div class="page-container monserrat blue-yonder white-text">
    <br> <br> <br>
    <div class="page-title">VERZEO - MANAGEMENT & COMMERCE</div>
    <div class="row">
        <h3 class="azuki" style="text-align:left">Bitcoin</h3>
        <div class="col s12 m8">
            <h6>What you will learn?</h6>
            <ul>
                <li>Learn about the concept of Bitcoin in the Cypherpunk movement and Libertarian ideals along with the
                    significance of Bitcoin.

                </li>
                <li>Learn the mechanics and working of Bitcoin.</li>
                <li>Get introduced with concepts like the Bitcoin network, cryptography, Bitcoin script, privacy as well
                    as hash commitment schemes.
                </li>
                <li>Learn the real world aspects of Bitcoin and get introduced with the wallet and mining in the Bitcoin
                    network.
                </li>

            </ul>
            <h6>What you will get?</h6>
            <ul>
                <li>Project Letter issued on successful submission </li>
                <li>Guaranteed Internship in one of the 300+ companies</li>
            </ul>
            <h6>Projects</h6>
            <ul>
                <li>One Minor Project</li>
                <li>One Major Project</li>
            </ul>

            <a href="https://nitk_surathkal.formstack.com/forms/online_internship_program" class="mbtn mbtn-white">Online
                Internship</a>
            &nbsp;
            <a href="https://nitk_surathkal.formstack.com/forms/hybrid_internship_program" class="mbtn mbtn-white">Hybrid
                Internship</a>
            <br>
            <br>
        </div>
        <img class="col s12 m4 rounded-image" src="/assets/images/departments/Bitcoin.jpg" alt="">
    </div>
    <div class="row">
        <h3 class="azuki" style="text-align:left">Human Resources</h3>
        <div class="col s12 m8">
            <h6>What you will learn?</h6>
            <ul>
                <li>Discuss and evaluate the theories of managing human resources which are applicable in various
                    sectors.

                </li>
                <li>Analyze human resources functions and employee motivation in different fields.</li>
                <li>Study the impacts as well as the factors which affect the development of the organizational culture.
                </li>
                <li>Evaluate the HR research journals to identify the methodologies.

                </li>

            </ul>
            <h6>What you will get?</h6>
            <ul>
                <li>Project Letter issued on successful submission </li>
                <li>Guaranteed Internship in one of the 300+ companies</li>
            </ul>
            <h6>Projects</h6>
            <ul>
                <li>One Minor Project</li>
                <li>One Major Project</li>
            </ul>

            <a href="https://nitk_surathkal.formstack.com/forms/online_internship_program" class="mbtn mbtn-white">Online
                Internship</a>
            &nbsp;
            <a href="https://nitk_surathkal.formstack.com/forms/hybrid_internship_program" class="mbtn mbtn-white">Hybrid
                Internship</a>
            <br>
            <br>
        </div>
        <img class="col s12 m4 rounded-image" src="/assets/images/departments/Human Resources.jpg" alt="">
    </div>
    <div class="row">
        <h3 class="azuki" style="text-align:left">Technical Analysis</h3>
        <div class="col s12 m8">
            <h6>What you will learn?</h6>
            <ul>
                <li>Learn about the different concepts of trading and boost your trading IQ.</li>
                <li>Get to know about the different trading strategies and learn how to implement them in business
                    sectors.</li>
                <li>Connect with traders and learn the different methods.</li>
            </ul>
            <h6>What you will get?</h6>
            <ul>
                <li>Project Letter issued on successful submission </li>
                <li>Guaranteed Internship in one of the 300+ companies</li>
            </ul>
            <h6>Projects</h6>
            <ul>
                <li>One Minor Project</li>
                <li>One Major Project</li>
            </ul>

            <a href="https://nitk_surathkal.formstack.com/forms/online_internship_program" class="mbtn mbtn-white">Online
                Internship</a>
            &nbsp;
            <a href="https://nitk_surathkal.formstack.com/forms/hybrid_internship_program" class="mbtn mbtn-white">Hybrid
                Internship</a>
            <br>
            <br>
        </div>
        <img class="col s12 m4 rounded-image" src="/assets/images/departments/Technical Analysis.jpg" alt="">
    </div>
    <div class="row">
        <h3 class="azuki" style="text-align:left">Business Analytics</h3>
        <div class="col s12 m8">
            <h6>What you will learn?</h6>
            <ul>
                <li>Learn about the basic data types along with surveys and data visualization.</li>
                <li>Get familiar with the popular descriptive statistics and basic probability concepts.</li>
                <li>Learn the basic excel modelling building for cost, revenue and profit.</li>
            </ul>
            <h6>What you will get?</h6>
            <ul>
                <li>Project Letter issued on successful submission </li>
                <li>Guaranteed Internship in one of the 300+ companies</li>
            </ul>
            <h6>Projects</h6>
            <ul>
                <li>One Minor Project</li>
                <li>One Major Project</li>
            </ul>

            <a href="https://nitk_surathkal.formstack.com/forms/online_internship_program" class="mbtn mbtn-white">Online
                Internship</a>
            &nbsp;
            <a href="https://nitk_surathkal.formstack.com/forms/hybrid_internship_program" class="mbtn mbtn-white">Hybrid
                Internship</a>
            <br>
            <br>
        </div>
        <img class="col s12 m4 rounded-image" src="/assets/images/departments/Business Analytics.jpg" alt="">
    </div>
    <div class="row">
        <h3 class="azuki" style="text-align:left">Lean Operations</h3>
        <div class="col s12 m8">
            <h6>What you will learn?</h6>
            <ul>
                <li>Learn the principles of Lean and Lean Maturity Matrix.</li>
                <li>Get to know about the types of waste common in organizations.</li>
                <li>Work with different Lean tools, metrics and techniques.</li>

            </ul>
            <h6>What you will get?</h6>
            <ul>
                <li>Project Letter issued on successful submission </li>
                <li>Guaranteed Internship in one of the 300+ companies</li>
            </ul>
            <h6>Projects</h6>
            <ul>
                <li>One Minor Project</li>
                <li>One Major Project</li>
            </ul>

            <a href="https://nitk_surathkal.formstack.com/forms/online_internship_program" class="mbtn mbtn-white">Online
                Internship</a>
            &nbsp;
            <a href="https://nitk_surathkal.formstack.com/forms/hybrid_internship_program" class="mbtn mbtn-white">Hybrid
                Internship</a>
            <br>
            <br>
        </div>
        <img class="col s12 m4 rounded-image" src="/assets/images/departments/Lean Operations.jpg" alt="">
    </div>
    <div class="row">
        <h3 class="azuki" style="text-align:left">Finance</h3>
        <div class="col s12 m8">
            <h6>What you will learn?</h6>
            <ul>
                <li>Understand the role of Corporate Finance.</li>
                <li>Understand the concept of financial markets thoroughly and individual’s need for funds.</li>
                <li>Use capital budgeting tools for evaluating investments.</li>
            </ul>
            <h6>What you will get?</h6>
            <ul>
                <li>Project Letter issued on successful submission </li>
                <li>Guaranteed Internship in one of the 300+ companies</li>
            </ul>
            <h6>Projects</h6>
            <ul>
                <li>One Minor Project</li>
                <li>One Major Project</li>
            </ul>

            <a href="https://nitk_surathkal.formstack.com/forms/online_internship_program" class="mbtn mbtn-white">Online
                Internship</a>
            &nbsp;
            <a href="https://nitk_surathkal.formstack.com/forms/hybrid_internship_program" class="mbtn mbtn-white">Hybrid
                Internship</a>
            <br>
            <br>
        </div>
        <img class="col s12 m4 rounded-image" src="/assets/images/departments/Finance.jpg" alt="">
    </div>
    <div class="row">
        <h3 class="azuki" style="text-align:left">Marketing</h3>
        <div class="col s12 m8">
            <h6>What you will learn?</h6>
            <ul>
                <li>Learn about the demands forecasting using the customer base models.</li>
                <li>Learn the market segmentation methods as well as practices for identifying the potential customer
                    segments.</li>
                <li>Understand proper calculation of optimal pricing for products to get the best ROI.</li>

            </ul>
            <h6>What you will get?</h6>
            <ul>
                <li>Project Letter issued on successful submission </li>
                <li>Guaranteed Internship in one of the 300+ companies</li>
            </ul>
            <h6>Projects</h6>
            <ul>
                <li>One Minor Project</li>
                <li>One Major Project</li>
            </ul>

            <a href="https://nitk_surathkal.formstack.com/forms/online_internship_program" class="mbtn mbtn-white">Online
                Internship</a>
            &nbsp;
            <a href="https://nitk_surathkal.formstack.com/forms/hybrid_internship_program" class="mbtn mbtn-white">Hybrid
                Internship</a>
            <br>
            <br>
        </div>
        <img class="col s12 m4 rounded-image" src="/assets/images/departments/Marketing.jpg" alt="">
    </div>
    <div class="row">
        <h3 class="azuki" style="text-align:left">Journalism</h3>
        <div class="col s12 m8">
            <h6>What you will learn?</h6>
            <ul>
                <li>Understand and identify the newsworthy issues.</li>
                <li>Learn reporting, editing and define the possibilities of mobile platforms and other such kind of
                    tools.</li>
                <li>Learn about the ethical and the safest media practices.</li>
            </ul>
            <h6>What you will get?</h6>
            <ul>
                <li>Project Letter issued on successful submission </li>
                <li>Guaranteed Internship in one of the 300+ companies</li>
            </ul>
            <h6>Projects</h6>
            <ul>
                <li>One Minor Project</li>
                <li>One Major Project</li>
            </ul>

            <a href="https://nitk_surathkal.formstack.com/forms/online_internship_program" class="mbtn mbtn-white">Online
                Internship</a>
            &nbsp;
            <a href="https://nitk_surathkal.formstack.com/forms/hybrid_internship_program" class="mbtn mbtn-white">Hybrid
                Internship</a>
            <br>
            <br>
        </div>
        <img class="col s12 m4 rounded-image" src="/assets/images/departments/journalism.jpg" alt="">
    </div>

</div>