
img{
    height:19em;
    width:22em;
    /* height: 18em; */
    border-radius: 6px;
}

.online, .offline{
    padding:12px;
    background-color:rgb(8, 164, 255);
    color:white;
    border-radius: 6px;
    text-decoration: none;
    box-shadow: 0px 0px 5px 1px rgb(230, 224, 224);
    margin:1em 2em;


}
.online:hover,.offline:hover{
    text-decoration: none;
    color:white;
}
h3{
    text-align: center;

}