.icare .row {
    margin-top: 48px !important;
    margin-bottom: 48px !important;
}

.icare-desc {
    font-size: 2em;
}

.icare img {
    width: 100%;
}

.icare-desc:nth-child(1) {
    padding-right: 24px !important;
}

.icare-desc:nth-child(2) {
    padding-left: 24px !important;
}

.icare-backdrop {
    width: 100%;
}

.icare iframe {
    width: 100%;
    min-height: calc( 0.5625 * (100vw - 2*9vw) * (4/12) );
}

@media only screen and (max-width: 1400px) {

.icare-desc {
    font-size: 1.6em;
}

}

@media only screen and (max-width: 800px) {

.icare-desc {
    max-width: 100%;
}

.icare-desc:nth-child(1) {
    padding-right: 0 !important;
}

.icare-desc:nth-child(2) {
    padding-left: 0 !important;
}

.icare .valign-wrapper {
    display: block;
}

.icare iframe {
    padding-top: 16px;
    min-height: calc( 0.5625 * (100vw - 2*9vw) * (12/12) )
}

}