<div *ngIf="isDevMode()">

  <div class="incident page-container iorange white-text">

    <div class="nav-top">
      <a routerLink="/icare"><i class="material-icons white-text">keyboard_arrow_up</i></a>
    </div>
    
    <div class="page-content">

      <div class="page-title">EVENTS</div>
      <br />
      <a class="mbtn mbtn-white back-link monserrat" unselectable="on">
        &lt; Back to Events
      </a>

      <div class="category-list events-listing row active azuki">
        <div class="col s12 m4" *ngFor="let item of categories">
          <a class="events-listing-item" href="events#{{ item.hash }}">
            <div class="image" [style.backgroundImage]="'url(assets/images/events/' + item.image + ')'"></div>
            <div class="title">{{ item.name }}</div>
          </a>
        </div>
      </div>

      <div *ngFor="let key of eventKeys">
        <div class="{{ key }}-list events-listing row">
          <div *ngIf="getCategoryFromHash(key).page_desc" class="events-page-desc monserrat" [innerHTML]="getCategoryFromHash(key).page_desc">
          </div>
          <div class="row" *ngFor="let item of events[key]">
            <div class="col s12 m4">
              <img src="assets/images/events/{{ item.image }}"/>
            </div>
            <div class="col s12 m8 monserrat">
              <div class="title azuki">{{ item.name }}</div>
              {{ item.desc }}
              <br />
              <br />
              <a class="mbtn mbtn-white" *ngIf="item.register" href="{{ item.register }}">Register</a>
            </div>
          </div>
        </div>
      </div>

      <!-- <div *ngFor="let key of eventKeys">
        <div *ngFor="let item of events[key]">
          <div id="{{item.hash}}" class="modal bottom-sheet">
            <div class="modal-content black-text">
              <h4>{{ item.name }}</h4>
              <p>{{ item.desc }}</p>
            </div>
          </div>
        </div>
      </div> -->

      <br /><br /><br />

    </div>

    <div class="nav-down">
      <a routerLink="/sponsors"><i class="material-icons white-text">keyboard_arrow_down</i></a>
    </div>

  </div>

</div>

<div *ngIf="!isDevMode()" class="events-stay-tuned page-container poppins white-text">
  <div>
    <h2 class="page-title">Coming Soon. Stay tuned...</h2>
    <br /><br />
    <a routerLink="/" class="mbtn mbtn-white">RETURN TO HOME</a>
  </div>
</div>