<div class="incident page-container straw black-text">

  <br />
  <br />
  <br />
  <br />

  <div class="page-content">
    <h1 class="page-title">Such an empty field!!!</h1>
    <div class="row">
      <div class="col s12 m8 monserrat">
        Its <b>Error 404</b>. You have wandered off limits. There seems to be nothing here. Try going back to home and find your way. Or GET me any query and I'll let you play an adventure.
        <br>
        <br>
        <br>
        <a routerLink="/" class="mbtn">BACK TO HOME</a>
      </div>
    </div>
  </div>

  <app-footer *ngIf="isMobile()"></app-footer>

  <div class="nav-down">
    <a routerLink="/statistics"><i class="material-icons black-text"></i></a>
  </div>
</div>