
        <br><br><br>
        <div class="mcontainer monserrat" style="font-size:1.5em">
            <div class="row">
                               <div class="col-xl-4"> <img src="../images/ERP.jpg" class="rounded-image "alt=""><br><br>
                            <h3 style="text-align:left">ERP</h3></div>
                <div class="col-xl-8">
                    <h6>What you will learn?</h6>
                    <ul><li>Get to learn about the streamline and management of the workflow through the organization because of a single integrated system.
                       </li>
                        <li>Gain a thorough knowledge about courses like SAP, Oracle EBS, and Microsoft NA</li>
                        <li>Get introduced with the dynamic ERP training process and reap the ERP system benefits for any organization.
                        </li> </ul>
                    <h6>What you will get?</h6>
                    <ul><li>Project Letter issued on successful submission </li>
    <li>Guaranteed Internship in one of the 300+ companies</li></ul>
                    <h6>Projects</h6>
                    <ul><li>One Minor Project</li>
                    <li>One Major Project</li></ul>
<div style="text-align:left;">
  <img src="../../assets/images/departments/ERP.jpg" class="rounded-image "alt=""><br><br>

  <a href="https://nitk_surathkal.formstack.com/forms/online_internship_program" class="mbtn">Online Internship</a><br>
    <a href="https://nitk_surathkal.formstack.com/forms/hybrid_internship_program" class="mbtn">Hybrid Internship</a>
<br><br>    
</div>
                </div>
            </div>
            <div class="row">
                    <div class="col-xl-4"> <img src="../images/Structural Analysis.jpg" class="rounded-image "alt=""><br><br>
                    <h3 style="text-align:left">Structural Analysis of high rise building</h3></div>
     <div class="col-xl-8">
         <h6>What you will learn?</h6>
         <ul><li>Learn about the high rise buildings which are stiffened by braced flames as well as shear walls.

        </li>
         <li>Use an analytical method for the analysis of a real high rise structure.
        </li>
         <li>Learn about the loading distribution of the external force among the various bracings.

         </li> </ul>
         <h6>What you will get?</h6>
         <ul><li>Project Letter issued on successful submission </li>
    <li>Guaranteed Internship in one of the 300+ companies</li></ul>
         <h6>Projects</h6>
         <ul><li>One Minor Project</li>
         <li>One Major Project</li></ul>
<div style="text-align:left;">
  <img src="../../assets/images/departments/Structural Analysis.jpg" class="rounded-image "alt=""><br><br>

  <a href="https://nitk_surathkal.formstack.com/forms/online_internship_program" class="mbtn">Online Internship</a><br>
    <a href="https://nitk_surathkal.formstack.com/forms/hybrid_internship_program" class="mbtn">Hybrid Internship</a>
<br><br>    
</div>
     </div>
 </div>
<div class="row">
        <div class="col-xl-4"> <img src="../Images/Construction Planning.jpg" class="rounded-image "alt=""><br><br>
        <h3 style="text-align:left">Construction Planning & Management</h3></div>
<div class="col-xl-8">
<h6>What you will learn?</h6>
<ul><li>Learn and understand the building adaptation management.


</li>
 <li>Get to know the different sustainability challenges that are faced in building adaptations.

</li>
 <li>Apply the project management tools which help in making decisions about the building adaptations.



 </li> </ul>
<h6>What you will get?</h6>
<ul><li>Project Letter issued on successful submission </li>
    <li>Guaranteed Internship in one of the 300+ companies</li></ul>
<h6>Projects</h6>
<ul><li>One Minor Project</li>
<li>One Major Project</li></ul>
<div style="text-align:left;">
  <img src="../../assets/images/departments/Construction Planning.jpg" class="rounded-image "alt=""><br><br>

  <a href="https://nitk_surathkal.formstack.com/forms/online_internship_program" class="mbtn">Online Internship</a><br>
    <a href="https://nitk_surathkal.formstack.com/forms/hybrid_internship_program" class="mbtn">Hybrid Internship</a>
<br><br>    
</div>
</div>
</div>
<div class="row">
        <div class="col-xl-4"> <img src="../Images/cad.jpg" class="rounded-image "alt=""><br><br>
     <h3 style="text-align:left">Automobile - CAD</h3></div>
<div class="col-xl-8">
<h6>What you will learn?</h6>
<ul><li>Learn the fundamentals of primary fields of engineering. </li>
 <li>Get to know about the techniques as well as applications of the designing process.
 </li>
 <li>Learn to design, build as well as assess a prototype which solves an engineering problem.
 </li> </ul>
<h6>What you will get?</h6>
<ul><li>Project Letter issued on successful submission </li>
    <li>Guaranteed Internship in one of the 300+ companies</li></ul>
<h6>Projects</h6>
<ul><li>One Minor Project</li>
<li>One Major Project</li></ul>
<div style="text-align:left;">
  <img src="../../assets/images/departments/cad.jpg" class="rounded-image "alt=""><br><br>

  <a href="https://nitk_surathkal.formstack.com/forms/online_internship_program" class="mbtn">Online Internship</a><br>
<a href="https://nitk_surathkal.formstack.com/forms/hybrid_internship_program" class="mbtn">Hybrid Internship</a>
<br><br>    
</div>
</div>
</div>

            </div>
    