<div class="contact page-container iblue black-text">

  <div class="nav-top">
    <a routerLink="/about"><i class="material-icons black-text">keyboard_arrow_up</i></a>
  </div>

  <div class="page-content">
        
    <div class="page-title">CONTACT US</div>

    <br /><br /><br />
    <div class="contact-us center-align monserrat">
      <form action="https://formspree.io/incidentconvenor@nitk.edu.in" method="POST">
        <div class="row left-align">
          <h4 class="black-textt">We would be happy to talk to you...</h4>
        </div>
        <br />
        <div class="input-field">
          <input placeholder="" id="name" name="name" type="text" class="validate">
          <label for="name">Full Name</label>
        </div>
        <div class="input-field">
          <input placeholder="" id="_replyto" name="_replyto" type="email" class="validate">
          <label for="_replyto">Email</label>
        </div>
        <div class="input-field">
          <input placeholder="" id="mobile" name="mobile" type="number">
          <label for="mobile">Phone Number (Optional)</label>
        </div>
        <div class="input-field">
          <input placeholder="" id="purpose" name="purpose" type="text" class="validate">
          <label for="purpose">Purpose</label>
        </div>
        <div class="input-field">
          <!-- <input placeholder="" id="content" name="content" type="text" class="validate"> -->
          <!-- <label for="content">What would you like to say?</label> -->
          <textarea placeholder="" id="content" name="content" class="materialize-textarea"></textarea>
          <label for="content">What would you like to say?</label>
        </div>
        <div class="row center-align">
          <input class="mbtn" type="submit" value="Send">
        </div>
      </form>
    </div>

    <br /><br /><br />

    <div class="contact-us center-align monserrat">
      <div class="contact-mobile left-align">
        <h4 class="black-text"><b class="monserrat">Or call us at</b> : <span style="font-weight: 500"><br><b>Inci Office:</b><br>Darshan +91&nbsp;8861&nbsp;832&nbsp;038<br><br><b>Event Coordinators:</b><br>Sashibhushan +91&nbsp;9538&nbsp;806&nbsp;063<br>Kaushik Nayak +91&nbsp;8660&nbsp;272&nbsp;327</span></h4>
      </div>
    </div>

    <br /><br /><br />

  </div>

  <app-footer *ngIf="isMobile()"></app-footer>

  <div class="nav-down">
    <a routerLink="/"><i class="material-icons black-text" style="transform: scale(0.5);">replay</i></a>
  </div>
</div>
