.incident .inci-desc {
    font-size: 2em;
    padding-right: 24px !important;
}

.incident .inci-vid {
    min-height: calc( 0.5625 * (100vw - 2*9vw) * (4/12) );
}

.incident .inci-vid iframe {
    width: 100%;
    min-height: calc( 0.5625 * (100vw - 2*9vw) * (4/12) );
}

@media only screen and (max-width: 1400px) {

.incident .inci-desc {
    font-size: 1.6em;
}

}

@media only screen and (max-width: 800px) {

.incident .inci-vid iframe {
    padding-top: 16px;
    min-height: calc( 0.5625 * (100vw - 2*9vw) * (12/12) )
}

}