.home {
    position: relative;
    color: white;
    height: 100vh;
}

.home .landing {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.home .landing .tap {
    padding-bottom: 8vh;
    font-size: 2em;
}

.home .landing .duration {
    padding-bottom: 4vh;
    font-size: 2.6em;
}

.home .landing .theme-title {
    padding-bottom: 4vh;
    font-size: 2.2em;
}

.home .landing .title {
    padding-top: 4vh;
    padding-bottom: 2vh;
    margin: 0;
    padding: 0;
    font-size: 8em;
}

.home .landing .logo {
    height: 40vh;
    opacity: 0;
}

@media only screen and (max-width: 1400px) {

.home .landing .tap {
    padding-bottom: 8vh;
    font-size: 1.2em;
}

.home .landing .duration {
    padding-bottom: 4vh;
    font-size: 1.4em;
}

.home .landing .theme-title {
    padding-bottom: 4vh;
    font-size: 1.2em;
}

.home .landing .title {
    padding-top: 4vh;
    padding-bottom: 2vh;
    margin: 0;
    padding: 0;
    font-size: 5em;
}

.home .landing .logo {
    height: 40vh;
}

}