.statistics .page-content img {
    height: calc(100vh - 2*101px);    
}

@media only screen and (max-width: 1400px) {

.statistics .page-content img {
    height: calc(100vh - 2*84px);
}

}

@media only screen and (max-width: 800px) {

.statistics .page-content img {
    width: 100%;
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
}

}